/* Estilos especificos de index */

// VARIABLES:
$color-claro: #d8d8d8;
$color-oscuro: #000000;
$color-secundario: #f1f1f3;
$fuente-principal: "Bebas Neue", sans-serif;
$fuente-secundaria: "helvetica", serif;

// MIXIN: 
@mixin background-cover {
    background-size: cover;
    background-repeat: no-repeat;
}

// EXTEND:
%estilos-base {
    background-color: $color-claro;
    @include background-cover;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    line-height: 0%;
    border-bottom: 3px solid $color-oscuro;
}

.caja {
  @include background-cover;
  margin-top: 0px;
  margin-bottom: 0px;

  p {
    color: $color-oscuro;
    font-style: italic;
    text-align: justify;
    font-family: $fuente-principal;
    font-size: 20px;
    margin-left: 80px;
    margin-top: 0px;
  }

  .contenedor-imagenes {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    flex-wrap: wrap;
    justify-items: center;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 0px;
    width: cover; 
    gap: 15px; 
  
    img {
     margin: 5px;
     margin-bottom: 10px;
     height: 250px; 
     width: 100%;
     object-fit: cover;
    }
  }

  .texto-centro {
    grid-column: 2; 
    grid-row: 2;   
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    color: black;
    text-align: left;
    padding: 20px;
    border-radius: 10px;  
    margin-left: 0;
  }
}
