/* Estilos especificos de index */

// VARIABLES:
$color-claro: #d8d8d8;
$color-oscuro: #000000;
$color-secundario: #f1f1f3;
$fuente-principal: "Bebas Neue", sans-serif;
$fuente-secundaria: "helvetica", serif;

// MIXIN: 
@mixin background-cover {
    background-size: cover;
    background-repeat: no-repeat;
}

// EXTEND:
%estilos-base {
    background-color: $color-claro;
    @include background-cover;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    line-height: 0%;
    border-bottom: 3px solid $color-oscuro;
}

.caja {
  @include background-cover;
  background-image: url("medios/cieloliso.jpeg");
  margin-top: 0px;

  p {
    color: $color-oscuro;
    font-style: italic;
    text-align: justify;
    font-family: $fuente-principal;
    font-size: 20px;
    margin-left: 80px;
    margin-top: 0px;
  }

  .contenedor-imagenes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-right: 0px;
    margin-bottom: 0px;
    width: cover; 
  }
  .contenedor-imagenes img {
    margin: 5px;
    margin-bottom: 50px;
    height: auto; 
    width: 32%;
  }
}