
@use 'index';
@use 'contacto';
@use 'shop';


//paleta de colores:
 //#000000 negro;
 //#EFFF5C amarillo;
 //#F1F1F3 gris;
 //#D8E6FF celeste;

//tipografía:
 //font-family: "Bebas Neue", sans-serif;


 
// VARIABLES:
$color-claro: #d8d8d8;
$color-oscuro: #000000;
$color-secundario: #f1f1f3;
$fuente-principal: "Bebas Neue", sans-serif;
$fuente-secundaria: "helvetica", serif;

 // MIXIN: 
@mixin background-cover {
    background-size: cover;
    background-repeat: no-repeat;
}


// EXTEND:
%estilos-base {
    background-color: $color-claro;
    @include background-cover;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    line-height: 0%;
    border-bottom: 3px solid $color-oscuro;
}


/* Estilos globales para todos los .html */

// header y footer
.header {
    @extend %estilos-base;

    h1 {
        color: $color-oscuro;
        font-family: $fuente-principal;
        text-align: left;
        font-size: 40px;
    }

    a {
        color: $color-oscuro;
    }

    li {
        font-family: $fuente-principal;
        text-align: center;
        padding: 5px;
        color: $color-oscuro;
        display: inline;
        margin-left: 100px;
    }
}

//Main
main {
    background-image: url("../medios/cieloliso.jpeg");
    @include background-cover;
    margin-top: 0px;
    margin-bottom: 10px;
}

.formulario {
    background-color: $color-claro;
    @include background-cover;
    margin-top: 0px;
    padding-bottom: 20px;

    #newsletterSection {
        font-style: normal;
        color: $color-oscuro;
        font-size: 15px;
        text-decoration: none;
        margin-inline-start: 10px;
        padding: 15px;
        margin-left: 10px;
    }
}

//Main
main {
    background-image: url("../medios/cieloliso.jpeg");
    @include background-cover;
    margin-top: 0px;
    margin-bottom: 10px;
}

.formulario {
    background-color: $color-claro;
    @include background-cover;
    margin-top: 0px;
    padding-bottom: 20px;

    #newsletterSection {
        font-style: normal;
        color: $color-oscuro;
        font-size: 15px;
        text-decoration: none;
        margin-inline-start: 10px;
        padding: 15px;
        margin-left: 10px;
    }
}

//Footer
footer {
  background-color: $color-oscuro;
  padding: 30px;
  color: $color-claro;
  display: flex;
  flex-direction: row;
  align-items: center;   

  a {
    color: $color-claro;
    text-decoration: none; 
    font-size: 1.2rem;
    margin: auto; 
    transition: color 0.3s ease;

    &:hover {
      color: lighten($color-claro, 20%);
    }
  }

  h3 {
    font-size: 10px;
    font-family: $fuente-secundaria;
    margin-top: 60px;
    margin-left: auto;
    text-align: right;
  }
}