/*selector + propiedad + valor

selector{
propiedad: valor
}

etiqueta{global}
.clase{+especifico}
#id{unico}

*/
/*index.html

paleta:
#000000 negro;
#EFFF5C amarillo;
#F1F1F3 gris;
#D8E6FF celeste;

tipografia:font-family: "Spicy Rice", serif;
@import url('https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap');

o

#E4A5CA rosa;
#632713 marrón;
#72AC43 verde claro;
#2E573A verde oscuro;
#FDE3CF crema;
#F8A91F amarillo;
#EC6426 naranja;

tipografía:font-family: "Bebas Neue", sans-serif;*/

/*header*/
h1{
    color: #000000;
    font-family: "Bebas Neue", sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 40px;
}
a{
    color: #000000;
}
li{
    font-family: "Bebas Neue", sans-serif;
    text-align: center;
    padding: 5px;
    color: #000000;
    display: inline;
    margin-left: 100px;
} 
header{
    background-color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    position: relative;
    line-height: 0%;   
    border-bottom: 3px solid #000000; ;
}

/*main*/
main{
    margin-top: 0px;
    margin-bottom: 10px;
}
.caja {
    background-image: url('medios/cieloliso.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0px;
}
h2{
    color: #000000;
    text-align: center;
    font-family: "Bebas Neue", sans-serif;    text-transform: uppercase;
    font-size: 20px;
}
p{
    color: #000000;
    font-style: italic;
    text-align: justify;
    font-family: "bebas Neue", sans-serif;
    font-size: 35px;
    margin-left: 80px;
    margin-top: 40px;
}
.contenedor-imagenes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; /* Centra verticalmente */
}
.contenedor-imagenes img {
  margin-right: 0px;
  margin-bottom: 50px;
  width: 450px;
  height: cover; /* Mantiene la proporción de la imagen */
}
main{
    background-color: #ffffff;   
    position: relative;
    min-height: 90%;
}

/*footer*/
footer{
    background-color:#000000;
    position: absolute;
    width: 100%;
    min-width: 100%;   
}
.link{
    color: #F1F1F3;
    text-decoration: none;
    font-family: "Bebas Neue", sans-serif;
    font-size: 15px;
    margin-top: 50px;
    margin-left: 350px;
    margin-bottom: 50px;
}
label{
    color: #F1F1F3;
    text-decoration: none;
    align-items: center;    
    margin-inline-start: 10px;
}
h3{
    color: #F1F1F3;
    text-align: right;
    font-family: "helvetica", serif;
    font-size: 10px;
}